.message{
  padding-top: 100px;
  padding-left: 100px;
  font-size: 40px;
  font-weight: bold;
  color:black;
  text-shadow: 3px 3px 15px white;
}

.main{
  height: 91.3vh;
  background-size: cover;
  position: absolute;
  color: black;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}