.Post {
  margin-left: 1px;
  margin-right: 13px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 4px;
  margin-top: 2px;
  color: black;
  background-color: white;
}

.Post-Content {
  margin-left: 15px;
  margin-right: 15px;
}

.Post-Titulo {
  color: black;
  font-size: 10px;
  text-align: center;
}

.Post hr{
  margin-top: 4px;
  margin-bottom: 4px;
}

.Collapsed {
  max-height: 300px;
  overflow-y: scroll;
}