.Answer {
  margin-left: 1px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 4px;
  margin-right: 75px;
  margin-top: 2px;
  color: white;
  background-color:black;
}

.Answer-Content {
  margin-left: 30px;
  margin-right: 30px;
}

.Answer-Titulo {
  color: white;
  font-size: 10px;
  text-align: center;
}

.Answer hr{
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.Collapsed {
  max-height: 300px;
  overflow-y: scroll;
}