.Answer {
  margin-left: 15px;
  text-align: left;
  font-size: 13px;
  margin-right: 15px;
  margin-top: 15px;
  color: black;
  
}

.Answer-Content {
  margin-left: 15px;
  margin-right: 15px;
}

.Answer-Titulo {
  color: black;
  font-size: 10px;
}

.Answer hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.Collapsed {
  max-height: 300px;
  overflow-y: scroll;
}