.ui.modal .actions>.button, .saveNewUser {
  margin-bottom: 20px;
}

.characterLabel {
  float: right;
  font-size: .92857143em;
  margin-top: -10px;
}

.characterLabelComplete{
  float: right;
  font-size: .92857143em;
  color: #0000;
  margin-top: -5px;
}

label:after {
  color: #0000 !important;
}