.App {
  text-align: center;
  background-color: white;
}
.App-timeline {
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 4%;
}
.App-logo {
  margin-right: 15%;
  width: 75%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.App-listPost {
  margin-right: 15%;
  width: 95%;
  margin-top: 10%;
  text-align: center;
  background-color: white;
  color: white;
  max-width: 360;
  position: 'relative';
  overflow: 'auto';
  max-height: 300;
}
.App-button {
  margin-right: 15%;
  width: 75%;
  margin-top: 50%;
  max-width: 300;
}

.App-text {
  border: 2px solid #c7c7c7;
  border-radius: 4px;
  margin-bottom: 4px;
  outline: none;
  padding: 3px;
  transition: box-shadow 200ms ease;
  will-change: auto;
}

.App-text:focus {
  box-shadow: 0px 0px 9px 0px rgba(112, 87, 255, 0.32);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}